body, html {
  height: 100%;
  margin: 0;
  
}

.container {
  max-width: 800px !important; 
}

.profile-section {
  background-color: rgb(26, 26, 27);
  color: white;
}
.name-section {
  background-color: #ced0d2;
  color: black;
}

.about-me-section {
  background-color: #ffffff; 
  padding: 20px;
  position: relative;
  
}

.section-title {
  font-size: 24px; 
  font-weight: bold;
  color: #ffd700;
}
.profile-image {
  width: 120px;
  height: 120px;
  border: 5px solid #ffd700; 
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.left-column {
  padding: 20px;
}
.right-column {
  padding: 20px;
  background-color: white;
}
.name {
  font-size: 50px;
  font-weight: bold;
}
.title {
  font-size: 20px;
  color: #777;
}
.content-box {
  margin-bottom: 30px;
}
.content-title {
  font-weight: bold;
  border-left: 5px solid #ffd700; 
  padding-left: 10px;
  margin-bottom: 10px;
}

.languages-info {
  margin-top: 20px; 
}

.info-title {
  font-size: 18px;
  font-weight: bold;
  color: white; 
  margin-bottom: 10px;
}

.languages-list {
  list-style: none;
  padding-left: 0;
  color: white; 
}

.language-level {
  display: inline-block;
  margin-left: 5px;
}

.language-level span {
  display: inline-block;
  width: 10px; 
  height: 10px; 
  margin-right: 2px; 
  background-color: #aaa; 
}

.language-level .filled {
  background-color: #ffd700; 
}
